# Potpuno ugasi detekciju za sve Python fajlove bilo gde u projektu
*.py linguist-detectable=false
*.py linguist-vendored=true

# Za svaki slučaj ugasi detekciju i za CSV podatke
*.csv linguist-detectable=false
*.csv linguist-vendored=true

# Eksplicitno forsiraj tvoje glavne jezike
*.cs linguist-detectable=true
*.js linguist-detectable=true